# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
thread_logs.txt
titles.txt
filmwebIDs.txt
years.txt
titles0.txt
titles1.txt
titles2.txt
titles3.txt
titles4.txt
titles5.txt
titles6.txt
titles7.txt
titles8.txt
years0.txt
years1.txt
years2.txt
years3.txt
years4.txt
years5.txt
years6.txt
years7.txt
years8.txt
filmwebIDs0.txt
filmwebIDs1.txt
filmwebIDs2.txt
filmwebIDs3.txt
filmwebIDs4.txt
filmwebIDs5.txt
filmwebIDs6.txt
filmwebIDs7.txt
filmwebIDs8.txt